body
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background: #212121; */
}

#canvas1
{
    height: 600px;
    width: 1200px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #212121;
}
#btn
{
    width: 100px;
    height: 32px;
    padding: 6px 16px;
    border: none;
    outline: none;
    background: rgb(87, 87, 246);
    color: white;
    border-radius:4px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top:10px;
    z-index: 100;
}